.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* .static_image {
  background-image: url(https://media1.tenor.com/images/1231ef015f346a6ee176987b3aa882f9/tenor.gif?itemid=15691383);
  background-repeat: repeat-x;
  position:fixed;
  width:50%;
  z-index:2;
  height:500px;
} */